<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{adminfragments::header(${session.admin})}"/>
</header>
<section>
    <div class="content">
        <form class="ctgy-form">
            <div class="Category">
                <ul class="category">
                    <li><h3>카테고리</h3></li>
                    <li><a th:href="@{adrCategory(store_category_id=1)}">식당</a></li>
                    <li><a th:href="@{adcCategory(store_category_id=2)}">카페</a></li>
                    <li><a th:href="@{adbCategory(store_category_id=3)}">술집</a></li>
                    <li><a th:href="@{adpCategory(store_category_id=4)}"><b>장소</b></a></li>
                </ul>
            </div>
            <img src="images/place.png" width="1000px">
            <h3>추천 장소</h3>
            <div class="recommend">
                <div class="ctcontent">
                    <th:block th:each="sLt:${sList}">
                        <div class="ritem">
                            <img src="images/bakmul.png" class="ctimg">
                            <a th:href="@{adContent(store_num=${sLt.store_num})}" class="ritem">
                                <p th:text="${sLt.average_rating}" class="rstar"></p>
                                <p th:text="${sLt.store_name}" class="rname"></p>
                                <p th:text="${sLt.store_adress}" class="rplace"></p>
                                <p th:text="${sLt.store_description}" class="rmenu"></p>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>