<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>콘텐츠 정보 보기</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Add Bootstrap-datepicker CSS link -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- bxSlider용 라이브러리 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script>
        $(function () {
            //bxSlider 설정
            $(".sld").bxSlider({
                auto: false, //수동 순환
                slideWidth: 600 //슬라이더 가로 길이.
            });

            //메시지 출력
            let m = null;
            if (m != null) {
                alert(m);
            }
        });
    </script>
    <script th:inline="javascript">
        $(function () {
            let m = [[${msg}]];
            if (m != null) {
                alert(m);
            }
        });
    </script>
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<section>
    <!-- 성원닭갈비 -->
    <div class="cView">
        <div class="c-dak">
            <img th:src="@{/images/sungdak.png}" style="width: 100%">
            <h1>
                <span th:text="${store.store_name}" style="font-weight: bolder; font-size: 35px;"></span>
                <span th:text="${'(' + store.average_rating + ')'}" style="font-size: 30px; color: #246C34"></span>
            </h1>
            <h5 th:text="${store.store_telephone}"></h5>
            <div class="sl" style="margin: 50px">
                <h3>대표메뉴</h3>
                <div class="sld">
                    <!-- 이미지 슬라이더 또는 대표 메뉴 이미지들 -->
                    <div><img th:src="@{/images/dak.jpg}"></div>
                    <div><img th:src="@{/images/sdk.jpg}"></div>
                </div>
            </div>
        </div>
        <!-- 메뉴&설명 -->
        <th:block>
            <div class="cont-menu">
                <div class="mnu">
                    <p class="mu">메뉴</p>
                    <div class="tt">
                        <p th:each="menu:${mList}" th:text="${menu.menu_name}"></p>
                    </div>
                </div>
                <div class="pay">
                    <p class="mu">가격</p>
                    <div class="ttl">
                        <p th:each="menu : ${mList}">
                            <span th:text="${menu.menu_price} + '원'"></span>
                        </p>
                    </div>
                </div>
                <div class="com">
                    <p class="mu">설명</p>
                    <div class="nn">
                        <p th:each="menu:${mList}" th:text="${menu.menu_descripton}"></p>
                    </div>
                </div>
            </div>
        </th:block>

        <!-- 영업 시간 -->
        <div class="cont-mm">
            <div class="store-hour">영업 시간</div>
            <div class="sh">
                <div>시간: <span th:text="${store.open_time}"></span></div>
                <div>휴무일: <span th:text="${store.closed_day}"></span></div>
            </div>

            <div style="text-align: right;">
                <div class="user-info">
                    <div class="user-info-sub" th:object="${session.user}"></div>
                </div>

                <th:block th:if="${session.user != null}">
                    <button type="button" class="res" style="font-size: 18px;
                        background-color: white; border-style: none; text-underline: dash;"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <img src="images/schedule.png">예약하기
                    </button>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="staticBackdropLabel">예약하기</h1>
                            </div>
                            <div class="modal-body">
                                <!-- Add your form or content here -->
                                <form id="reservationForm" th:action="@{reservProc}" method="post">
                                    <input type="hidden" name="store_num" th:value="${store.store_num}">
                                    <div class="mb-3 text-center">
                                        <label for="date" class="form-label">날짜:</label>
                                        <input type="text" id="date" name="reservation_date" class="form-control datepicker"
                                               data-date-format="yyyy-mm-dd" required>
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="people" class="form-label">인원수:</label>
                                        <input type="number" id="people" name="resevation_person" class="form-control"
                                               min="1"
                                               required>
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="time" class="form-label">시간:</label>
                                        <input type="time" id="time" name="resevation_time" class="form-control" required>
                                    </div>

                                        <div class="btn-class">
                                            <div class="child">
                                                <!-- 예약하기 button -->
                                                <button class="btn btn-primary" id="saveReservation">
                                                    저장
                                                </button>
                                                <!-- 예약 취소하기 button -->
                                                <button type="button" class="btn btn-secondary"
                                                        id="cancelReservation">취소
                                                </button>
                                                <!-- 닫기 button -->
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">닫기
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <!-- 주소 -->
            <div class="cont-mm">
                <div class="store-hour">주소</div>
                <div class="sh"><span th:text="${store.store_adress}"></span></div>
                <!-- Map 페이지 -->
                <div style="margin-top: -13%; font-size: 18px; text-align: right; height: 0px">
                    <img src="images/map.png"> <a th:href="@{map(store_num=${store_num})}">위치보기</a>
                </div>
            </div>
            <!-- 리뷰 -->


        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<!-- Your custom scripts here -->
<script th:inline="javascript">
    $(document).ready(function () {
        $('#date').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });
</script>
</html>