<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<section>
    <div class="login-form">
        <h2>아이디 찾기 결과</h2>
        <th:block th:if="${findId == null}">
            <p>조회결과가 없습니다.</p>
        </th:block>
        <th:block th:unless="${findId == null}">
            <p th:text="${findId}"></p>
        </th:block>
        <div class="join"><a th:href="@{userLogin}">로그인</a></div>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>