<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodayIdo</title>
</head>
<body>
<div class="top-bar" th:fragment="header(user)">
    <div class="content">
        <img src="images/logo 1.png" alt="로고" class="top-left logo" onclick=location.href="/">
        <div class="se-area">
            <form class="search-box" th:action="@{/search}"><!-- 수진: /static에서 /search로 수정 -->
                <input id="keyword" name="keyword" placeholder="오늘 뭐하지?">
            </form>
        </div>
        <nav class="top-right">
            <ul>
                <th:block th:if="${user == null}">
                    <li><a th:href="@{userLogin}">로그인</a></li>
                    <li><a th:href="@{userJoin}">회원가입</a></li>
                </th:block>
                <th:block th:unless="${user == null}">
                    <li th:text="${user.user_name}+'님'"></li>
                    <li><a th:href="@{logout}">로그아웃</a></li>
                </th:block>
                <input class="burger-check" type="checkbox" id="burger-check" />
                <label class="burger-icon" for="burger-check"><span class="burger-sticks"></span></label>
                <div class="menu">
                    <a th:href="@{rCategory(store_category_id=1)}">카테고리</a>
                    <a href="myPage">마이페이지</a>
                    <a href="qnalist">문의사항</a>
                    <a href="ownerJoin">사업주</a>
                    <a href="adminLogin">관리자</a>
                    <div style="width: 150px"/>
                </div>
            </ul>
        </nav>
    </div>
</div>
<div th:fragment="footer" class="footer-bar">
    <div class="content">
        <div class="fcontents">
            <img src="images/logo 1.png" class="footer-logo">
            <span class="footer-txt">
                &copy; TodayIdo
            </span>
        </div>
    </div>
</div>
</body>
</script>
</html>