<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<!-- 검색 폼 -->
<form th:action="@{/search}" method="get">
    <input type="text" name="keyword" placeholder="가게 이름 또는 번호를 입력하세요">
    <button type="submit">검색</button>
<!-- 검색 결과 -->
<div th:if="${searchResults}">
    <div th:each="result : ${searchResults}">
        <div>
            <img th:src="${result.storeImageUrl}" alt="Store Image">
            <h3 th:text="${result.storeName}"></h3>
            <p th:text="${result.storeAddress}"></p>
            <p th:text="${result.storeTelephone}"></p>
        </div>
    </div>
</div>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>