<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 수정</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{ownerfragments::header(${session.owner})}"/>
</header>
<section>
    <div class="wCon">
        <form th:action="@{modiProc}" method="post" class="login-form" enctype="multipart/form-data">
            <input type="hidden" name="store_num" id="store_num" th:value="${store.store_num}">
            <input type="hidden" name="menu_num" id="menu_num" th:value="${menu.menu_num}">
            <h2>메뉴 수정</h2>
                <div class="st-rg">
                    <label for="menu_name" class="modi-title">메뉴 이름 :</label>
                    <input type="text" id="menu_name" name="menu_name" th:value="${menu.menu_name}" required class="modi-content"><br>
                </div>
                <div class="st-rg">
                    <label for="menu_price" class="modi-title">메뉴 가격 :</label>
                    <input type="text" id="menu_price" name="menu_price" th:value="${menu.menu_price}" required class="modi-content"><br>
                </div>
                <div class="st-rg">
                    <label for="menu_descripton" class="modi-title">메뉴 설명 :</label>
                    <input type="text" id="menu_descripton" name="menu_descripton" th:value="${menu.menu_descripton}" required class="modi-content"><br>
                </div>
                <input type="hidden" th:value="${menu.mn_oriname}" name="mn_oriname">
                <input type="hidden" th:value="${menu.mn_sysname}" name="mn_sysname">
                <div class="st-rg">
                    <label for="file" class="modi-title">대표메뉴 사진</label>
                    <input type="file" name="files" id="file">
                    <input type="text" class="upload-name" value="파일선택" th:value="${menu.mn_sysname}" readonly><br>
                </div>
            <input type="submit" class="btnW" value="메뉴 수정">
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script th:inline="javascript">
    $("#file").on("change", function () {
        //파일 선택창에서 업로드할 파일을 선택한 다음
        //'열기' 버튼을 누르면 change 이벤트가 발생.
        let files = $("#file")[0].files;
        console.log(files);

        let fileName = "";//출력할 문장 저장 변수

        if (files.length > 1) {
            fileName = `${files[0].name} 외 ${files.length - 1}개`;
        } else if (files.length == 1) {
            fileName = files[0].name;
        } else {
            fileName = "파일선택";
        }
        $(".upload-name").val(fileName);
    });
</script>
</html>
