<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TodayIdo</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{ownerfragments::header(${session.owner})}"/>
</header>
<section>
    <div class="login-form">
        <h1>내 가게</h1>
        <div>
            <label class="modi-title">대표자</label>
            <p th:text="${owner.owner_name}" class="modi-content"/>
        </div><br>
        <div>
            <label class="modi-title">가게 이름</label>
            <p th:text="${owner.store_name}" class="modi-content"/>
        </div>
        <div>
            <label class="modi-title">사업자번호</label>
            <p th:text="${owner.business_num}" class="modi-content"/>
        </div><br>
        <div class="login-btn">
            <a th:href="@{ownerModify}">수정</a>
        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>
