<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TodayIdo</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{ownerfragments::header(${session.owner})}" />
</header>
<section>
    <form class="login-form">
        <div class="prof">
            <h1>사업주님</h1>
            <h3 class="my">내 가게</h3>
        </div>
        <div class="owner-info">
            <b><div>가게 이름</div></b>

            <b><div>사업자 번호</div></b>

            <b><div>대표자</div></b>

        </div>
        <div class="btn-area">
            <input type="submit" class="login-btn" value="수정">
            <input type="reset" class="login-btn" value="초기화">
            <input type="button" class="login-btn" value="취소" id="backbtn">
        </div>
    </form>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}" />
</footer>
</body>
</html>
