<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가게 정보/등록 하기</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">

    <script>
        function showRegistrationConfirmation() {
            var confirmation = confirm("등록하시겠습니까?");
            if (confirmation) {
                // 여기에 등록을 서버에 전송하는 로직 추가
                alert("등록이 완료되었습니다.");
                // Redirect to OwnerPage.html
                window.location.href = "pindex";
            } else {
                // 여기에 취소 동작 추가
                alert("등록이 취소되었습니다.");
            }
        }

        function showCancelRegistrationConfirmation() {
            var cancel = confirm("취소하시겠습니까?");
            if (cancel) {
                // 여기에 취소 동작 추가
                alert("취소되었습니다.");
                // Redirect to OwnerPage.html
                window.location.href = "pindex";
            }
        }
    </script>
</head>
<body>
<header>
    <th:block th:insert="~{ownerfragments::header(${session.owner})}"/>
</header>

<section>
    <form th:action="@{/submit}" method="post" enctype="multipart/form-data" class="login-form">
        <h1>가게 등록 페이지</h1>

        <div class="st-rg">
            <label for="storeName">가게 이름 :</label>
            <input type="text" id="storeName" name="storeName" required>
        </div>
        <div class="st-rg">
            <label for="storeAddress">주&nbsp;&nbsp;&nbsp;소 :</label>
            <input type="text" id="storeAddress" name="storeAddress" required>
        </div>

        <div class="st-rg">
            <label for="phoneNumber">전화번호 :</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required>
        </div>

        <div class="st-rgbt">
            <input type="button" onclick="showRegistrationConfirmation()" class="login-btn" value="등록">
            <input type="button" onclick="showCancelRegistrationConfirmation()" class="login-btn" value="취소">
        </div>
    </form>
</section>

<footer>
    <th:block th:insert="~{fragments::footer}" />
</footer>
</body>
</html>
