<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 정보/등록 하기</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{ownerfragments::header(${session.owner})}"/>
</header>
<section>
    <form th:action="@{pProc}" method="post" enctype="multipart/form-data" class="login-form" onsubmit="return createAxis()">
        <h1>가게 등록 페이지</h1>

        <input type="hidden" name="owner_name" id="owner_name" th:value="${session.owner.getOwner_name()}">
        <input type="hidden" name="business_num" id="business_num" th:value="${session.owner.getBusiness_num()}">

        <div class="information">
            <label for="storeName" class="modi-title">가게 이름</label>
            <input type="text" id="storeName" name="store_name" required class="modi-content">
        </div>
        <div class="information">
            <label for="storeAddress" class="modi-title">주&nbsp;&nbsp;&nbsp;소</label>
            <input type="text" id="storeAddress" name="store_adress" required class="modi-content">
        </div>

        <div class="information">
            <label for="phoneNumber" class="modi-title">전화번호</label>
            <input type="tel" id="phoneNumber" name="store_telephone" required class="modi-content">
        </div>
        <div class="information">
            <label for="storeCategoryId" class="modi-title">가게카테고리</label>
            <input type="text" id="storeCategoryId" name="store_category_id" required class="modi-content">
        </div>

        <div class="information">
            <label for="averageRating" class="modi-title">별점</label>
            <input type="number" id="averageRating" name="average_rating" value="0" required class="modi-content">
        </div>

        <div class="information">
            <label for="storeDescription" class="modi-title">메뉴</label>
            <input type="text" id="storeDescription" name="store_description" required class="modi-content">
        </div>

        <div class="information">
            <label for="openTime" class="modi-title">오픈시간</label>
            <input type="text" id="openTime" name="open_time" required class="modi-content">
        </div>

        <div class="information">
            <label for="closedDay" class="modi-title">휴무일</label>
            <input type="text" id="closedDay" name="closed_day" required class="modi-content">
        </div>

        <div class="information">
            <label for="file" class="modi-title">대표사진선택</label>
            <input type="file" name="files" id="file">
            <input type="text" value="파일선택" readonly class="modi-content">
        </div>

        <div class="st-rgbt">
            <input type="submit" class="login-btn" value="등록">
            <input type="reset" class="login-btn" value="취소">
        </div>

    </form>
</section>

<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script th:inline="javascript">
    $("#file").on("change", function () {
        //파일 선택창에서 업로드할 파일을 선택한 다음
        //'열기' 버튼을 누르면 change 이벤트가 발생.
        let files = $("#file")[0].files;
        console.log(files);

        let fileName = "";//출력할 문장 저장 변수

        if (files.length > 1) {
            fileName = `${files[0].name} 외 ${files.length - 1}개`;
        } else if (files.length == 1) {
            fileName = files[0].name;
        } else {
            fileName = "파일선택";
        }
        $(".upload-name").val(fileName);
    });
</script>
</html>
