<!--글쓰기 페이지-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<!-------------------------- 헤더부분---------------------------->

<section>

    <div class="content">
        <form th:action="@{updateProc}" class="write-form"
              method="post" enctype="multipart/form-data">
            <div class="user-info">
                <div class="user-info-sub" th:object="${session.user}"></div>
            </div>

            <h2 class="login-header">QnA 수정</h2>

            <!--작성자(로그인 한 id), 제목, 내용, 파일-->

            <!--로그인 한 상태에서 글수정 권한-->
            <input type="hidden" name="user_id"
                   th:value="${session.user.user_id}">

            <input type="hidden" name="qna_num" th:value="${board.qna_num}">
            <input type="text" class="write-input" name="qna_title"
                   autofocus placeholder="제목" required th:value="${board.qna_title}">
            <textarea rows="15" name="qna_contents"
                      placeholder="내용을 적어주세요." value="내용:"
                      class="write-input ta" th:text="${board.qna_contents}"></textarea>

            <!--글쓰기 업로드 뒤로가기 수정 버튼-->
            <div class="btn-area"> <!-- 업로드 수정 닫기 업로드 버튼-->
                <input type="submit" class="btn-writeedit" value="Edit">
                <input type="reset" class="btn-writereset" value="reset">
                <input type="button" class="btn-writeback" value="out" id="backbtn">
            </div>

            <!--        답글 출력       -->
            <th:block th:if="${board.qna_reply != null}">
                <div class="qrep">
                    <div th:text="'답글 : '+${board.qna_reply}"></div>
                </div>
            </th:block>
        </form>
    </div>
</section>

<!--footer-->

<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>

<!--footer-->

</body>

<script th:inline="javascript">
    $("#backbtn").click(function () {
        let url = "/qnalist?";

        const searchDto = [[${session.sdto}]];
        let colname = "";
        let keyword = "";
        if(searchDto != null){
            colname = searchDto.colname;
            keyword = searchDto.keyword;
        }

        let page = [[${session.pageNum}]];

        if(colname == null || colname == ""){//검색 안한 목록 이동 (첫페이지)
            url += `pageNum=${page}`;
        } else {//검색한 결과 목록으로 이동.(수정하던 페이지)
            url += `colname=${colname}&keyword=${keyword}&pageNum=${page}`;
        }
        console.log(url);
        location.href = url;
        //history.back();
    });
</script>
</html>
