<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<section>
    <div class="content">
        <form class="login-form">
            <div class="Category">
                <ul class="category">
                    <li><h3>카테고리</h3></li>
                    <li><a href="rCategory"><b>식당</b></a></li>
                    <li><a href="cCategory">카페</a></li>
                    <li><a href="bCategory">술집</a></li>
                    <li><a href="pCategory">장소</a></li>
                </ul>
            </div>
            <img src="images/restaurant.png" width="600px">
            <h3>추천 식당</h3>
            <div class="recommend">
                <div class="rcontent">
                    <img src="images/mesikdang.png">
                    <p class="rstar">4.4</p>
                    <p class="rname">미식당</p>
                    <p class="rplace">청담동</p>
                    <p class="rmenu">카레, 덮밥, 라면</p>
                </div>
                <div class="rcontent">
                    <img src="images/gomokjung.png">
                    <p class="rstar">4.9</p>
                    <p class="rname">고목정</p>
                    <p class="rplace">용현동</p>
                    <p class="rmenu">삼겹살, 목살, 갈매기살</p>
                </div>
                <div class="rcontent">
                    <img src="images/ggulggul.png">
                    <p class="rstar">4.5</p>
                    <p class="rname">꿀꿀진순대</p>
                    <p class="rplace">학익동</p>
                    <p class="rmenu">순대, 순대국밥, 순대지</p>
                </div>
                <div class="rcontent">
                    <img src="images/sungwon.png">
                    <p class="rstar">4.1</p>
                    <p class="rname">성원닭갈비</p>
                    <p class="rplace">한남동</p>
                    <p class="rmenu">닭갈비, 찜닭, 볶음밥</p>
                </div>
            </div>
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>