<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodayIdo</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <th:block th:insert="~{fragments::header(${session.user})}"/>
</header>
<section>
    <div class="content">
        <form method="post" class="login-form" th:action="@{userPassUpdate}">
            <h2 class="login-header">비밀번호 변경</h2>
            <input type="hidden" name="user_id" th:value="${user_id}">
            <input autofocus class="login-input" name="user_password" placeholder="새로운 비밀번호" required type="password">
            <input class="login-input" name="check_password" placeholder="비밀번호 확인" required type="password">
            <input class="login-btn" id="id-find" type="submit" value="변경">
            <div class="find"><a th:href="@{userLogin}">로그인</a></div>
            <div class="join"><a th:href="@{userJoin}">회원가입</a></div>
            <div style="height: 30px"></div>
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>